/target
/test-output
/.settings
/.project
/.classpath
/cybercat.atest.properties
/src/test/resources/slack_oauth2.properties
/src/main/java/org/cybercat/slack/SlackService.java
/src/test/java/org/cybercat/slack/SlackServiceTest.jav